<div class="review-rating" data-score="<%= review.rating %>"></div>
<div id="body-<%= review.id %>">
  <% if review.comment.length > 20 %>
  <p><%= truncate(review.comment, length: 20) %>
    <%= link_to '...read more', '', class: 'more-#{review.id}' %>
    <script>
      $('.more-<%=review.id%>').on('click', function(event) {
        event.preventDefault()
        $(this).parent().html('<%=escape_javascript review.comment %>')
      })
    </script>
  <% else %>
    <%= review.comment %>
  <% end %>
  </p>
</div>


<% if user_signed_in? %>
  <% if review.user_id == current_user.id %>
    <%= link_to "Edit", edit_book_review_path(review.book, review) %>
    <%= link_to "Delete", book_review_path(review.book, review), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
<% end %>
